.listActiveUsers {
  display: flex;
  width: 100%;
}

.listContainerActiveUsers {
  flex: 1; /* This allows the container to take up the remaining space */
  margin-left: 250px; /* Adjust this value to match the width of your sidebar */
  padding: 20px;
  display: flex;
  flex-direction: column; /* Align items vertically */
}

.datatable {
  width: 100%; /* Ensure Datatable takes full width */
}

@media (max-width: 768px) {
  .listContainerActiveUsers {
    margin-left: 0; /* Adjust margin on smaller screens */
  }
}
