.complaintsDatatable {
    height: 600px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    font-family: "Poppins", sans-serif;
  
    .datatableTitle {
      width: 100%;
      font-size: 24px;
      color: #d32e65;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .link {
        text-decoration: none;
        color: green;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid green;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  
    .cellAction {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
  
  