.home {
    display: flex;
    padding-top: 50px;
}

.home.sidebar {
    position: fixed;
    top: 50px;
}

.home .homeContainer {
    flex: 6;
}

.home .homeContainer .widgets,
.home .homeContainer .charts {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.home .homeContainer .charts {
    padding: 5px 20px;
}

.home .homeContainer .listContainer {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;
}

.home .homeContainer .listContainer .listTitle {
    font-weight: 500;
    color: gray;
    margin-bottom: 15px;
}

.main-content {
    flex: 1;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    height: calc(100vh - 100px);
    overflow-y: auto; 
    box-sizing: border-box; 
    padding: 20px;
}

.full-width-form {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
}

.activity-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.activity-card {
    background-color: rgba(255, 255, 255, 0.763);
    max-width: 500px;
    max-height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(160, 160, 160);
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.activity-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}